#quickcount{
	margin-bottom: 25px;
	padding: 0;
}

#quickcount [class*=col-] .block{
	display: flex;
	box-sizing: border-box;
	border-radius: 4px;
	border-bottom: 1px #CCC solid;
	border-left: 1px #CCC solid;
	margin-bottom: 10px;
}

#quickcount .block-right,
#quickcount .block-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quickcount .block-left{
	font-size: 36px;
	padding: 0 15px;
}

#quickcount .block-right{
	padding: 0 10px;
}

#popular .panel .panel-body,
#insight .panel .panel-body{
	max-height: 270px;
	overflow: hidden;
}

#popular .panel .panel-body{
	overflow-y: scroll;
}

.panel{
	box-shadow: none;
	border-radius: 3px;
	border-bottom: 1px #DDD solid;
	border-left: 1px #DDD solid;

}

.panel-title .fa{
	margin-right: 8px;
}

.panel-body .panel-title{
	margin-bottom: 15px;
}

.green{
	background-color: #1abc9c;
	color: #FFF;
}

.blue{
	background-color: #3498db;
	color: #FFF;
}

.red{
	background-color: #e74c3c;
	color: #FFF;
}

.yellow{
	background-color: #f1c40f;
	color: #FFF;
}

@media (max-width: 767px) {
	.block-left{
		display: none;
	}
}

@media (max-width: 991px) {
	.block-left{
		display: none;
	}
}