#quickcount [class*=col-]{
	display: flex;
	box-sizing: border-box;
	border-radius: 4px;
	border-bottom: 2px #CCC solid;
	border-left: 2px #CCC solid;
}

#quickcount [class*=col-] .block-right,
#quickcount [class*=col-] .block-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quickcount [class*=col-] .block-left{
	font-size: 36px;
	padding: 0 15px;
}

#quickcount [class*=col-] .block-right{
	padding: 0 10px;
	/*background-color: #FFF;*/
	/*color: #222;*/
}

#quickcount [class*=col-] > i{
	display: inline;
}

.green{
	background-color: #1abc9c;
	color: #FFF;
}

.blue{
	background-color: #3498db;
	color: #FFF;
}

.red{
	background-color: #e74c3c;
	color: #FFF;
}

.yellow{
	background-color: #f1c40f;
	color: #FFF;
}

@media (max-width: 767px) {
	#quickcount [class*=col-] .block-left{
		display: none;
	}
}

@media (max-width: 991px) {
	#quickcount [class*=col-] .block-left{
		display: none;
	}
}