.jumbotron{
	margin: 0;
	min-height: 400px;
	background-color: #16a085;
	color: #FFF;
}

.jumbotron .container p, p.content{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}

.jumbotron .container h1, h1.title{
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
}

.navbar{
	margin-bottom: 0;
}

.container-fluid .section{
	padding: 15px 10px;
	background-color: #FFF;
}

.container-fluid .section > div{
	padding: 15px;
}

.container-fluid .section .title{
	margin-top:0;
}

#sejarah .section p{
	font-size: 12pt;
	font-weight: lighter;
}

.container-fluid .section img{
	height: 200px;
	width: 100%;
	background-color: grey;
}

#news img.news-thumbnail{
	height: 180px;
	background-color: grey;
}

#news .caption .title{
	margin-top: 0px;
	font-weight: bolder;
}

#news .caption .date{
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: small;
	color: rgba(0,0,0,.5);
}