.section, .section > .row > [class*=col-]{
	margin-top: 25px;
	margin-bottom: 25px;
}

.section-full > .row > [class*=col-]{
	padding: 0;
}

.jumbotron{
	margin: 0;
	min-height: 400px;
	background-color: #16a085;
	color: #FFF;
}

.jumbotron .container p, p.content{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}

.jumbotron .container h1, h1.title{
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
}

.navbar{
	margin-bottom: 0;
}