@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400');

body{
	background-color: #FFF;
	padding-top: 50px;
}

p{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}

img{
	object-fit: cover;
}

.navbar{
	padding: 10px 10px;
	background-color: #FFF;
}

.navbar .navbar-brand{
	font-size: 22pt;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	padding-left: 75px;
	color: #1abc9c;
}

.navbar ul.navbar-right{
	padding-right: 50px; 
}

.navbar ul.nav li{
	font-size: 11pt;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.navbar ul.nav li a{
	color: #212121;
}

.navbar ul.nav li a:hover{
	color: red;
}

.navbar ul.nav li .navbar-btn{
	margin-left: 10px;
	margin-right: 10px;
}

.footer{
	min-height: 80px;
	position: relative;
	bottom: 0;
	padding: 10px 0;
	padding-top: 30px;
	background-color: #16a085;
	color: #8ff0dc;
}

.footer .site-map{
	float: right;
}
.footer .site-map a{
	margin-right: 20px;
	text-decoration: none;
	color: #8ff0dc;
	font-family: 'Montserrat', 'sans-serif';
}

button.btn, a.btn{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size: smaller;
	border-radius: 3px;
	box-shadow: -1px 1px 3px rgba(0,0,0,.3);
}

.page-header{
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.navbar .navbar-brand{
		padding-left: 10px;
	}

	.footer{
		padding-top: 20px;
	}

	.footer .site-map{
		float: none;
		margin-top: 5px;
	}

	.footer .site-map a{
		margin-right: 10px;
	}
}