@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Open+Sans:400,700');

html,body{
	background-color:#FFF;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	height: 100%;
}

.container-fluid{ width: 100%; }

.display-table{
	display: table;
	padding: 0;
	height: 100%;
}

.display-table-row{
	display: table-row;
	height: 100%;
}

.display-table-cell{
	display: table-cell;
	float: none;!important;
	height: 100%;
}

#side-nav{
	background-color: #444;
	padding: 0;
}

#side-nav .title{
	padding: 15px 25px;
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: left;
	text-transform: lowercase;
	letter-spacing: 1px;
	color:#FFF;
	background-color: #159d82;
}

#side-nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#side-nav a{
	display: block;
	padding: 17px 25px;
	padding-right: 5px;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	text-transform: capitalize;
}

#side-nav a:hover{
	color: #1fe0ba;
	border-left: 2px #159d82 solid;
}

#side-nav .active a{
	color: #159d82;
}

#side-nav .collapseable{
	background-color: #333;
	border-left: 5px #111 solid;
}

#side-nav .fa{
	font-size: 20px;
	margin-right: 15px;
}

#side-nav .nav-label, #side-nav .fa{
	vertical-align: middle;
}

#side-nav .nav-label .label{
	margin-right: 15px;
}

#top-nav{
	/*background-color:#ededed;*/
	padding: 13px 15px;
	padding-right: 20px;
	/*border-bottom: 1px #CCC solid;*/
}

#top-nav .top-nav-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color:#8c8c8c;
}

#top-nav .top-nav-menu{
	text-decoration: none;
	color: #8c8c8c;
	font-size: 15px;
	margin-left: 18px;
}

#top-nav .top-nav-menu i{
	font-size: 20px;
	margin-right: 7px;
}

#top-nav .top-nav-menu i, #top-nav .top-nav-menu span{
	vertical-align: middle;
}

#content{
	padding: 20px 15px;
	padding-bottom: 50px;
}

#footer-nav{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding: 15px 20px;
	font-size: 12px;
	color: #16a085;
	border-top: 1px #CCC solid;
}

.btn > span{
	margin-left: 5px;
} 

.top{
	vertical-align: top;
}

.title{
	font-family: 'open-sans', sans-serif;
	font-weight: 700;
}

img{
	object-fit: cover;
}

@media (max-width: 767px) {
	#side-nav{
		width: 60px;
	}

	.btn > span,
	#side-nav .link a .nav-label{
		display: none;!important
	}
}

@media (max-width: 991px) {
	#side-nav .link a .nav-label{
		display: none;!important
	}
}