@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400');

body, html{
	height: 100%;
}

body > .container, body > .container-fluid{
	min-height: 100%;
}

body{
	padding-top: 100px;
}

p{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 400;
}

img{
	object-fit: cover;
}

.navbar{
	padding: 10px 10px;
	background-color: rgba(21, 157, 130, .8);
	border: none;
}

.navbar .navbar-brand{
	font-size: 22pt;
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	padding-left: 75px;
	color: #FFF;
}

.navbar ul.navbar-right{
	padding-right: 50px; 
}

.navbar ul.nav li{
	font-size: 11pt;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.navbar ul.nav li a{
	color: #FFF;
}

.navbar ul.nav li a:hover{
	color: yellow;
}

.navbar ul.nav li.active a{
	background-color: #FFF;
}

.navbar ul.nav li .navbar-btn{
	margin-left: 10px;
	margin-right: 10px;
}

.navbar ul.nav li .dropdown-menu{
	background-color: rgba(21, 157, 130, .9);
}

.navbar ul.nav li .dropdown-menu li a:hover{
	background-color: inherit;
	color: yellow;
}

.footer{
	min-height: 80px;
	position:relative;
	bottom: 0;
	padding: 10px 0;
	margin-top: 50px;
	padding-top: 30px;
	background-color: #16a085;
	color: #8ff0dc;
}

.footer .site-map{
	float: right;
}
.footer .site-map a{
	margin-right: 20px;
	text-decoration: none;
	color: #8ff0dc;
	font-family: 'Montserrat', 'sans-serif';
}

.page-header{
	margin-bottom: 0;
}

#banner-full,
#banner-full [class*=col-],
#banner-half,
#banner-half [class*=col-]{
	padding: 0;
}

#banner-full img{
	width: 100%;
	/*height: 270px;*/
	object-fit: cover;
}

@media (max-width: 768px) {
	.navbar .navbar-brand{
		padding-left: 10px;
	}

	.footer{
		padding-top: 20px;
	}

	.footer .site-map{
		float: none;
		margin-top: 5px;
	}

	.footer .site-map a{
		margin-right: 10px;
	}
}